@import "../../../vars";

.HeroSection {
  @include flex(column, flex-start, center);
  width: 100%;
  height: 100vh;

  @include min-width(768px) {
    @include flex(row, center, center);

    background: linear-gradient(
      to right,
      white 0,
      white 32%,
      $primary 32%,
      $primary 100%
    );
  }
}

.Left,
.Right {
  @include min-width(768px) {
    margin-top: 5rem;
  }
}

.Left {
  width: 100%;
  position: absolute;
  z-index: 200;
  margin-top: 20vh;

  @include min-width(768px) {
    width: 30%;
    position: initial;
    margin-top: 0;
  }
}

.Right {
  width: 100%;
  height: 100vh;

  @include min-width(768px) {
    height: calc(100vh - 15rem);
    width: 70%;
    margin-top: 15rem;
  }
}

.ImageContainer {
  height: 100%;
  background: linear-gradient(rgba($secondary, 0.4), rgba($secondary, 0.4)),
    url(../../../images/grounds1.jpg);
  background-position: center;
  background-size: cover;

  @include min-width(768px) {
    height: 70rem;
  }
}
