@import "../../../vars";

.HeroSection {
  @include flex(row, center, center);
  width: 100%;
  background: linear-gradient(
    to right,
    white 0,
    white 32%,
    $primary 32%,
    $primary 100%
  );

  height: 100vh;
}

.Left,
.Right {
  margin-top: 5rem;
}

.Left {
  width: 30%;
}

.Right {
  width: 70%;
}

.ImageContainer {
  height: 70rem;
}

.Hero {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
