@import "../../../vars";

.Spacer {
  width: 100%;

  div {
    height: 1vh;
    background: $primary;
  }

  //   div:first-of-type {
  //     background: $primary;
  //   }

  //   div:last-of-type {
  //     background: white;
  //   }
}
