@import "../../../../vars";

.Social {
  @include font("M");

  display: none;
  margin-bottom: $spaceM;

  a {
    @include flex(column, center, center);

    position: relative;
    transition: 0.3s;
  }

  a:not(:last-child) {
    margin-right: $spaceM;
  }

  a:hover {
    transform: translateY(-0.3rem);
  }

  @include min-width(768px) {
    @include flex(row, center, center);
  }

  @include min-width(1500px) {
    margin-bottom: $spaceS;
  }
}

// .White {
//   position: absolute;
//   height: 80%;
//   width: 80%;
//   background: white;
//   z-index: -1;
// }
