@import "../../../vars";

.CTAButton {
  @include cta-button();
  @include font("S");

  text-align: center;
  font-weight: 300;
  margin-top: $spaceM;
}

.AltColor {
  background: $primaryDD;
  box-shadow: 0px 2px 0px 0px $primaryLL;
}
