@import "../../../vars";

.SecondaryButton {
  @include font("S");

  background: rgba($gray5, 0.4);
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-left: $spaceS;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  border: 0.1rem solid white;

  &:hover {
    background: rgba($primary, 0.5);
  }
}
