@import "../../vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontStackBody;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

a:link,
a:visited {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
div,
button,
a {
  color: $gray6;
}

p,
div,
li,
button,
a,
input,
textarea {
  font-family: $fontStackBody;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $fontStackTitle;
}
