@import "../../../vars";

.Header {
  //Hide header on Mobile
  display: none;

  @include min-width(768px) {
    @include flex(row, space-between, center);

    background: transparent;
    height: 15rem;
    width: 100%;
    position: absolute;
    z-index: 100;
  }
}

.Menu {
  @include flex(column, flex-start, flex-end);

  width: 60%;
  margin-right: $spaceM;
}
