@import "../../../vars";

.CTA {
  @include flex(column, center, center);

  padding: $spaceL $spaceM;
  min-height: 30vh;

  .Left,
  .Right {
    @include flex(column, flex-start, center);

    width: 100%;
  }

  .Left {
    p {
      @include font("M");

      letter-spacing: 0.5rem;
      margin-bottom: $spaceM;
      text-align: center;
      text-transform: uppercase;
    }
  }

  @include min-width(900px) {
    @include flex(row, space-between, center);

    min-height: 40vh;

    .Left,
    .Right {
      width: 50%;

      p {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}
