@import "../../../../vars";

.Logo {
  padding-left: $spaceM;
  padding-top: $spaceS;
  width: 30%;

  h1 {
    @include font("XL");
    font-weight: 300;

    span {
      @include font("SSM");
    }
  }

  @include min-width(1200px) {
    padding-left: $spaceL;

    h1 {
      @include font("XXL");

      span {
        @include font("M");
      }
    }
  }
}
