@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:300,400,700&display=swap");

//COLORS
$primary: #aaaa39; // Olive */
$primaryL: #d4d46a;
$primaryLL: #ffffaa;
$primaryD: #808015;
$primaryDD: #555500;

$secondary: #582a72; // Main Complement color */
$secondaryL: #764b8e;
$secondaryLL: #9775aa;
$secondaryD: #3d1255;
$secondaryDD: #260339;

$gray1: hsl(24, 20%, 95%); //Interface Grays
$gray2: hsl(24, 21%, 93%);
$gray3: hsl(24, 9%, 82%);

$gray4: hsl(24, 12%, 30%); //Text Grays
$gray5: hsl(24, 24%, 11%);

$gray6: rgb(69, 69, 69); //Cool Gray

//TEXT
//Fonts
$fontStackTitle: "Lora", serif;
$fontStackBody: "Merriweather", serif;

//Sizes
$fontG: 8rem;
$fontXXL: 5rem;
$fontXL: 4rem;
$fontL: 3rem;
$fontM: 2.5rem;
$fontSM: 2.2rem;
$fontSSM: 2rem;
$fontS: 1.8rem;
$fontXS: 1.4rem;

//Line Height
$lineG: 1;
$lineXXL: 1;
$lineXL: 1.1;
$lineL: 1.2;
$lineM: 1.4;
$lineS: 1.5;
$lineXS: 1.5;

//SPACING
$spaceXS: 0.5rem;
$spaceS: 1rem;
$spaceSM: 2rem;
$spaceM: 3rem;
$spaceL: 6rem;
$spaceXL: 10rem;

$contentWidthS: 120rem;
$contentWidth: 140rem;
$contentWidthL: 165rem;

//BoxShadow:
$boxShadow: 1px 1px 2px darken($gray3, 10%);

//MIXINS
//Flex
@mixin flex($dir: null, $just: null, $ali: null) {
  display: flex;
  @if $dir != null {
    flex-direction: $dir;
  }
  @if $just != null {
    justify-content: $just;
  }
  @if $ali != null {
    align-items: $ali;
  }
}

//Media Queries
@mixin min-width($threshold) {
  @media screen and (min-width: $threshold) {
    @content;
  }
}

//Font size and height
@mixin font($size) {
  @if $size == "XS" {
    font-size: $fontXS;
    line-height: $lineXS;
  } @else if $size == "S" {
    font-size: $fontS;
    line-height: $lineS;
  } @else if $size == "SSM" {
    font-size: $fontSSM;
    line-height: $lineS;
  } @else if $size == "SM" {
    font-size: $fontSM;
    line-height: $lineS;
  } @else if $size == "M" {
    font-size: $fontM;
    line-height: $lineM;
  } @else if $size == "L" {
    font-size: $fontL;
    line-height: $lineL;
  } @else if $size == "XL" {
    font-size: $fontXL;
    line-height: $lineXL;
  } @else if $size == "XXL" {
    font-size: $fontXXL;
    line-height: $lineXXL;
  } @else if $size == "G" {
    font-size: $fontG;
    line-height: $lineG;
  }
}

//CTA Button
@mixin cta-button() {
  background: $primary;
  border: none;
  box-shadow: 0px 2px 0px 0px $primaryD;
  color: $gray5;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  transition: 0.5s;

  &:hover {
    background: $primaryD;
  }
}

@mixin underline() {
  &:after {
    border-bottom: 0.2rem solid $primaryLL;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
  }
}
